<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Новые данные</title>
</head>

<head th:insert="blocks\head :: head"></head>

<body style="background: #6cd8ff">

<nav th:insert="blocks/nav :: nav"></nav>

<section class="py-5">
    <div class="container py-5">
        <div class="row mb-4 mb-lg-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold">Новые данные</h2>
            </div>
        </div>
        <form th:action="'/room/edit/'+${room.id}" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col d-md-flex justify-content-md-center align-items-md-center"><input
                                class="form-control" type="text" name="name" placeholder="Номер"
                                th:value="${room.name}" required>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col d-md-flex justify-content-md-center align-items-md-center">
                            <select class="form-select" name="category" required>
                                <option th:each="category : ${categories}" th:value="${category}"
                                        th:label="${category.getName()}"
                                        th:selected="${category == room.category}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col d-md-flex justify-content-md-center align-items-md-center">
                            <input min="1" class="form-control" type="number" name="quantity" step="1"
                                   placeholder="Количество спальных мест"
                                   required th:value="${room.quantity}">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col d-md-flex justify-content-md-center align-items-md-center">
                            <input class="form-control" type="text" name="floor" th:value="${room.getFloor}"
                                   placeholder="Этаж"
                                   required>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col d-md-flex justify-content-md-center align-items-md-center">
                            <input min="1" class="form-control" type="number" placeholder="Цена за сутки"
                                   name="price" required th:value="${room.price}">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col d-md-flex justify-content-md-center align-items-md-center">
                            <input class="form-control" type="file" name="img" accept="image/*">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col d-md-flex justify-content-md-center align-items-md-center">
                            <input class="form-control" type="text" name="description"
                                   placeholder="Описание (опционально)"
                                   th:value="${room.description}">
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <button class="btn btn-warning" type="submit" style="width: 100%">Обновить</button>
                </div>
            </div>
        </form>
    </div>
</section>


<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bold-and-bright.js"></script>
</body>

</html>